<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Bank</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <!--Local css-->
    <link href="/css/bodytemplate.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-warning bg-warning fixed-top">
    <a class="navbar-brand" href="#" th:href="@{'/user/'+${user.getId()}+'/'}">Summary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/user/'+${user.getId()}+'/myAccount'}">My Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1 th:text="${'Summary of Account '+account.accountNo}">Your Account summary</h1>
        <div class="card-deck" >
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Status</h5>
                    <div class="row">
                        <div class="col-lg-4">
                            Type
                        </div>
                        <div class="col-lg-8" th:text="${account.accountType}">
                            -----------
                        </div>
                        <div class="col-lg-4">
                            Balance
                        </div>
                        <div class="col-lg-8" th:text="${account.balance}">
                            -----------
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transactions</h5>
                    <div class="row">
                        <div class="col-lg-4">
                            Type
                        </div>
                        <div class="col-lg-8" th:text="${account.accountType}">
                            -----------
                        </div>
                        <div class="col-lg-4">
                            Balance
                        </div>
                        <div class="col-lg-8" th:text="${account.balance}">
                            -----------
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</body>
</html>
