<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Bank</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <!--Local css-->
    <link href="/css/bodytemplate.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-warning bg-warning fixed-top">
    <a class="navbar-brand" href="#" th:href="@{'/user/'+${user.getId()}+'/'}">Summary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/user/'+${user.getId()}+'/myAccount'}">My Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1 th:text="${'Summary of Account '+account.accountNo}">Your Account summary</h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Status</h5>
                            <div class="row">
                                <div class="col-lg-4">
                                    Account Number :
                                </div>
                                <div class="col-lg-8" th:text="${account.getAccountNo()}">
                                    -----------
                                </div>
                                <div class="col-lg-4">
                                    Account Type :
                                </div>
                                <div class="col-lg-8" th:text="${account.accountType}">
                                    -----------
                                </div>
                                <div class="col-lg-4">
                                    Balance
                                </div>
                                <div class="col-lg-8" th:text="${account.balance}">
                                    -----------
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-lg-4">
                        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+'/transaction/deposit'}">Deposit</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+'/transaction/withdraw'}">Withdraw</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+'/transaction/transfer'}">Transfer</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transactions</h5>
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transaction : ${transaction}">
                                <th scope="row">1</th>
                                <td th:if="${transaction.getFromAccount()}" th:text="${transaction.getFromAccount().getAccountNo()}">Mark</td>
                                <td th:unless="${transaction.getFromAccount()}" th:text="'Deposit'">Mark</td>
                                <td th:if="${transaction.getToAccount()}" th:text="${transaction.getToAccount().getAccountNo()}">Otto</td>
                                <td th:unless="${transaction.getToAccount()}" th:text="'Withdrawal'">Otto</td>
                                <td th:text="${transaction.getAmount()}">@mdo</td>
                                <td th:text="${transaction.getDateOfTransaction()}">@mdo</td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</body>
</html>
