<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common-header::common-header"/>

<body>
<nav th:replace="common/common-header::common-navbar" />

<main role="main" class="container">
    <div class="row">
        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${account.getUserId()}+'/'}">Return</a>
    </div>
    <div class="starter-template">

        <h1 th:text="${'Summary of Account '+account.accountNo}">Your Account summary</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Status</h5>
                            <div class="row">
                                <div class="col-lg-5">
                                    Account No :
                                </div>
                                <div class="col-lg-7" th:text="${account.getAccountNo()}">
                                    -----------
                                </div>
                                <div class="col-lg-5">
                                    Account Type :
                                </div>
                                <div class="col-lg-7" th:text="${account.accountType}">
                                    -----------
                                </div>
                                <div class="col-lg-5">
                                    Balance
                                </div>
                                <div class="col-lg-7" th:text="${account.balance}">
                                    -----------
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-lg-4">
                        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+'/transaction/deposit'}">Deposit</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+'/transaction/withdraw'}">Withdraw</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+'/transaction/transfer'}">Transfer</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!--<div class="card">-->
                    <!--<div class="card-body">-->
                        <!--<h5 class="card-title">Transactions</h5>-->
                <div style="overflow: auto; height: 600px;">
                        <table class="table">
                            <thead class="thead-light">
                            <tr><th scope="rowgroup" colspan="6"><h4>Transactions</h4></th></tr>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transaction : ${transaction}">
                                <th scope="row">1</th>
                                <td th:if="${transaction.getFromAccount()}" th:text="${transaction.getFromAccount().getAccountNo()}">Mark</td>
                                <td th:unless="${transaction.getFromAccount()}" th:text="'Deposit'">Mark</td>
                                <td th:if="${transaction.getToAccount()}" th:text="${transaction.getToAccount().getAccountNo()}">Otto</td>
                                <td th:unless="${transaction.getToAccount()}" th:text="'Withdrawal'">Otto</td>
                                <td th:text="${transaction.getAmount()}">@mdo</td>
                                <td th:text="${transaction.getDateOfTransaction()}">@mdo</td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr th:remove="all">
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</main><!-- /.container -->

<div th:replace="common/common-header::common-footer-script" />
</body>
</html>
