<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Bank</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <!--Local css-->
    <link href="/css/bodytemplate.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-warning bg-warning fixed-top">
    <a class="navbar-brand" href="#" th:href="@{'/user/'+${user.getId()}+'/'}">Summary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/user/'+${user.getId()}+'/myAccount'}">My Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="row">
            <button type="button" class="btn btn-warning">Return</button>
    </div>
    <div class="starter-template">
        <h1 >Make a Transaction </h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-lg-12 ">
                        <form th:object="${transaction}" th:action="@{/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+${type}'/transactionload}"  method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="row form-group" th:if="${type}=='withdraw' or ${type}=='transfer'">
                                <label for="accountOption" class="col-sm-3">From :</label>
                                <div class="col-sm-9">
                                    <select id="accountOption" class="form-control" th:field="*{fromAccount}">
                                        <option th:each="act:${account}"
                                                th:value="${act.accountNo}"
                                                th:text="${act.accountNo}">Account</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group" th:if="${type}=='deposit'">
                                <label for="accountDestination" class="col-sm-3">To :</label>
                                <div class="col-sm-9">
                                    <select id="accountDestination" class="form-control" th:field="*{toAccount}">
                                        <option th:each="act:${account}"
                                                th:value="${act.accountNo}"
                                                th:text="${act.accountNo}">Account</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group" th:if="${type}=='transfer'">
                                <label for="accountDestination2" class="col-sm-3">To :</label>
                                <div class="col-sm-9">
                                    <input type="text" id="accountDestination2" class="form-control" th:field="*{toAccount}"/>
                                </div>
                            </div>
                            <div class="row form-group" >
                                <label for="amountToSend" class="col-sm-3">Amount :</label>
                                <div class="col-sm-9">
                                    <input type="text" id="amountToSend" class="form-control" th:field="*{amount}"/>
                                </div>
                            </div>

                            <button type="button" class="btn btn-warning">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</body>
</html>
