<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common-header::common-header"/>

<body>
<nav th:replace="common/common-header::common-navbar" />

<main role="main" class="container">
    <div class="row">
        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+'/accountDetails'}">Return</a>
    </div>
    <div class="starter-template">
        <h1 >Make a Transaction </h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-lg-12 ">
                        <form th:object="${transaction}" th:action="@{'/user/'+${account.getUserId()}+'/'+${account.getAccountNo()}+'/'+${type}+'/transactionload'}"  method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="row form-group" th:if="${type}=='withdraw' or ${type}=='transfer'">
                                <label for="accountOption" class="col-sm-3">From :</label>
                                <div class="col-sm-9">
                                    <select id="accountOption" class="form-control" th:field="*{fromAccount.accountNo}">
                                        <option th:each="act:${accountList}"
                                                th:value="${act.accountNo}"
                                                th:text="${act.accountNo}">Account</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group" th:if="${type}=='deposit'">
                                <label for="accountDestination" class="col-sm-3">To :</label>
                                <div class="col-sm-9">
                                    <select id="accountDestination" class="form-control" th:field="*{toAccount.accountNo}">
                                        <option th:each="act:${accountList}"
                                                th:value="${act.accountNo}"
                                                th:text="${act.accountNo}">Account</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group" th:if="${type}=='transfer'">
                                <label for="accountDestination2" class="col-sm-3">To :</label>
                                <div class="col-sm-9">
                                    <input type="text" id="accountDestination2" class="form-control" th:field="*{toAccount.accountNo}"/>
                                </div>
                            </div>
                            <div class="row form-group" >
                                <label for="amountToSend" class="col-sm-3">Amount :</label>
                                <div class="col-sm-9">
                                    <input type="text" id="amountToSend" class="form-control" th:field="*{amount}"/>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-warning">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- /.container -->

<div th:replace="common/common-header::common-footer-script" />
</body>
</html>
