<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Bank</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <!--Local css-->
    <link href="/css/bodytemplate.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-warning bg-warning fixed-top">
    <a class="navbar-brand" href="#" th:href="@{'/user/'+${user.getId()}+'/'}">Summary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{'/user/'+${user.getId()}+'/myAccount'}">My Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="row">
        <a class="btn btn-warning" href="#" th:href="@{'/user/'+${user.getId()}+'/'}">Return</a>
    </div>
    <p></p>
    <div CLASS="row">
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="templates/user/MyBankprofile.png" alt="my bank profile image ">
                <div class="card-body">
                    <h5 class="card-title" th:text="${user.getFirstName() + ' ' + user.getLastName()}">Name</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="address:${user.getUserAddress()}"
                        th:text="${address.number + ' '+address.street + ', '+address.city + ', '+address.country+' '+address.zipCode}">
                        Address
                    </li>
                    <li class="list-group-item" th:text="${'email : '+user.email}">email</li>
                    <li class="list-group-item"
                        th:each="contact:${user.userContact}"
                        th:if="${contact}"
                        th:text="${'tel '+contact.typeContact +' : '+contact.contactNumber}">Phone
                    </li>
                    <li class="list-group-item" th:text="${'DOB : '+user.dateOfBirth}">email</li>
                    <li class="list-group-item" th:text="${'Since : '+user.dateOfSubscription}">email</li>
                </ul>
                <!--<div class="card-body">-->
                    <!--<a href="#" class="card-link">Edit</a>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card bg-light ">
                <div class="card-header bg-warning">Edit Profile</div>
                <div class="card-body">
                    <form th:object="${user}" th:action="@{'/user/'+${user.getId()}+'/myAccount/editprofile'}"
                          method="post">
                        <div class="row form-group">
                            <input type="hidden" th:field="*{id}"/>
                            <label for="firstName" class="col-sm-3">First Name :</label>
                            <div class="col-sm-9" style="padding-bottom: 1em;">
                                <input type="text" id="firstName" class="form-control" th:field="*{firstName}"/>
                            </div >

                            <label for="lastName" class="col-sm-3">Last Name :</label>
                            <div class="col-sm-9" style="padding-bottom: 1em;">
                                <input type="text" id="lastName" class="form-control" th:field="*{lastName}"/>
                            </div>

                            <label for="email" class="col-sm-3">Email</label>
                            <div class="col-sm-9" style="padding-bottom: 1em;">
                                <input type="text" id="email" class="form-control" th:field="*{email}"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</body>
</html>
